.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.wrapper h2 {
    text-transform: uppercase;
    display: block;
    margin: 25px 0;
    padding-bottom: 2px;
    text-align: center;
    width: 100%;
    position: relative;
}
.wrapper h2::before {
    position: absolute;
    content: '';
    height: 4px;
    border-radius: 4px;
    width: 30%;
    background: var(--dark);
    bottom: -4px;
    left: 35%;
    margin: 0 auto;
}
.inputWrapper input {
    width: 100%;
    border: none;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid var(--dark);
    padding: 5px 0;
    margin-top: 10px;
}
.inputWrapper label {
    font-size: 12px;
    position: relative;
    bottom: 30px;
    pointer-events: none;
    transition: 200ms;
}
.inputWrapper input:focus + label {
    bottom: 50px;
}

.wrapper button {
    background: transparent;
    border: none;
    outline: 0;
    border: 2px solid var(--dark);
    padding: 7px 15px;
    margin: 10px 0;
    text-transform: uppercase;
    display: block;
    width: 100%;
    cursor: pointer;
}
